:root {
  --mainColor: #0b2447;
  --mainColorLight: #576cbc;
  --color-text: #fff;
  --colorbg: #04152d;
  --color-secondary: #19376d;
}

body {
  background-color: var(--mainColor);
}

.body-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.p-cyan {
  color: #00cffd;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-left: 10px;
}

.container-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}

.container-title span {
  color: #00cffd;
}

.typewriter-text {
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 15px;
 
}

.container-description {
  
  font-size: 16px;
  width: 50vw;
  margin-bottom: 10px;
}

.contact-btn {
  margin-top: 20px;
  color: var(--color-text);
  font-size: 50px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  text-decoration: none;
}

.contact-btn svg {
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.2); /* Light ash border */
  transition: all 0.3s ease;
}

.contact-btn svg:hover {
  transform: translateY(-6px);
  border-color: white;
  box-shadow: 0 0 12px  #00CFFD;
  cursor: pointer;
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topblur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}


@media screen and (max-width: 830px) {
  .body-container {
   

  flex-direction: column;
    align-items: flex-start;      /* keep left-aligned */
    justify-content: flex-start;
    margin-top:10rem;
   justify-content: center;    
    margin-left: 5%;
               
    
  }

.typewriter-text {
  font-size: 1.3rem;
 
}
  .body-content {
    align-items: flex-start;      
    text-align: left;
  }
  .container-title {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
  }

  .container-description {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
  }

  .contact-icon {
    font-size: 40px;
    gap: 12px;
    
    justify-content: flex-start;
  }


  .topblur {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .body-container {
   

  flex-direction: column;
    align-items: flex-start;      /* keep left-aligned */
    justify-content: flex-start;
    margin-top:7rem;
   justify-content: center;    
    margin-left: 5%;
               
    
  }
  .body-container {
    padding: 0 10px;
  }

  .contact-btn {
    font-size: 30px;
    gap: 10px;
  }

  .contact-btn svg {
    padding: 6px;
  }

  .container-description {
    font-size: 16px;
    width: 100%
  }
}
